<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>BabyCare</title>
    <div class="container mt-5">

        <h2 class="text-center">BabyCare Land page</h2>
        <p class="text-center">This page aims to show you your baby status'</p>

        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header text-center">
                        Baby Status
                    </div>
                    <br>


                    <div class="row text-center">

                        <div class="col-md-3">
                            {% if not status.urinated %}
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Gas Leakage" src="{% static 'gas.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Gas Leakage">
                                        Gas Leakage
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Safe</h5>
                                        <p class="card-text">Your baby is safe and no gas leakage endanger it.</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Gas Leakage" src="{% static 'gas.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Gas Leakage">
                                        Gas Leakage
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Danger</h5>
                                        <p class="card-text">Some gas has leaked around your baby. It may suffocate
                                            soon. Take a
                                            deep breathe.</p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-md-3">

                            {% if not status.pooped %}
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Poop" src="{% static 'poop.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Poop">
                                        Poop
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Clean</h5>
                                        <p class="card-text">Our children is polite :) It doesn't poop in its
                                            diaper!</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Poop" src="{% static 'poop.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Poop">
                                        Poop
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Oh Oh!</h5>
                                        <p class="card-text">Put on your nose clip and be ready to change its
                                            diaper!</p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-md-3">

                            {% if not status.crying %}
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Cry" src="{% static 'smile-crying.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Cry">
                                        Cry
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Happy :)</h5>
                                        <p class="card-text">It is laughing as always :)))</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Cry" src="{% static 'cry.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Cry">
                                        Cry
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Sad :(</h5>
                                        <p class="card-text">Crying again! I wish it muffled!</p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="col-md-3">


                            {% if status.temperature > 30 %}
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Temperature" src="{% static 'temperature.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Temperature">
                                        Temperature: {{ status.temperature }}°
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Hot</h5>
                                        <p class="card-text">Try to turn on cooler. It's realy hot there!</p>
                                    </div>
                                </div>
                            {% elif status.temperature < 20 %}
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Temperature" src="{% static 'temperature.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Temperature">
                                        Temperature: {{ status.temperature }}°
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Cold</h5>
                                        <p class="card-text">Try to turn on heater. It's realy cold there!</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header text-center">
                                        <img alt="Temperature" src="{% static 'temperature.png' %}" height="45px"
                                             style="border-radius:50%;"
                                             title="Temperature">
                                        Temperature: {{ status.temperature }}°
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Moderate</h5>
                                        <p class="card-text">Weather is between 20°-30° around your baby and it's
                                            well.</p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                    </div>

                    <br>
                    <div class="card-footer text-muted text-center">
                        <img alt="update" src="{% static 'refresh.png' %}" height="20px"
                                             style="border-radius:50%;"
                             onClick="window.location.reload();">
                        Last update:
                        {% if last_updated_minutes > 0 %}
                            {{ last_updated_minutes }} Minutes ago
                        {% else %}
                            Just now...
                        {% endif %}
                    </div>
                </div>

            </div>


        </div>


        <div class="row text-center border-top">

            <div class="col-md-12">

                <p> All content on this site is protected by &copy;copyright and may not be reproduced without the
                    express written permission of the copyright holder.</p>


            </div>

        </div>

    </div>
</head>
<body>

</body>
</html>